    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        user-select:none;
    }
    a:hover{
        cursor: pointer;
    }
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(to right, #497783, rgb(73 119 131 / 80%));
        
       
    }
    header>aside{
    
        flex-grow: 1;
    }
    .Logo{
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-bottom: 1rem;  
    }
    header>aside>figure img{
        width: 7em;
        height: 7em;
    }
    header>aside>figure p{
    
        text-align: center;
        font-size: 30px;
        color: cornsilk;
        
        text-decoration: none;
    }
    header>nav{
        flex-grow: 3;
        display: flex;
        justify-content: center;
    }
    

    header>nav>ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        list-style-type: none;
        justify-content: center;
        width: 80%;
    }
   header > nav > ul>a{
        width: fit-content;
        flex-grow: 1;
        text-align: center;
        padding: 8px;
        &:hover{
            background: #325159;
            /* padding: 8px; */
            border-radius: 9px;
        }
    }
    header > nav > ul > a > li ,
    header > nav > ul > a{
        color: #e4c99b;
        height: 5rem;
        font-size: 30px;
        align-content: center;
        text-decoration: none;
        
        &:hover{
            cursor:pointer;
            
            /* padding: 8px; */
            border-radius: 9px;
        }
    }


    #About_me {
        min-height: 38rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        background: linear-gradient(75deg, black 55%, #497783d1); /* Solid background color */
        overflow: hidden;
        align-items: flex-end;
        
      }
      
      
    .info::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 5%;
        width: 50%;
        height: 80%;
        background-image: url(logo.png);
        background-size: cover;
        background-position: left;
        opacity: 0.5;
        z-index: 1;
      }

    .info{
        
        color: white;
        text-shadow: 5px 5px 14px #ffffff;
        font-size: 2.5rem;
        line-height: 5rem;
        margin-left: 5%;
        width: 50%;
        align-self: self-start;
    }
    .wrapper_img{
        width:26rem;
        position: relative;
        
    }

    .wrapper_img::after {
        content: "";
        position: absolute;
        top: 0%;
        left: 1%;

        z-index: 1;
        opacity:0;
        transition: all 0.3s ease;
        display: block;
        width: 96%;
        height: -webkit-fill-available;
        background-image: url(personal_photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        filter: contrast(0);
        
    }
    .wrapper_img:hover::after {
        transform: scale(1.15) translateX(-5.5%);
        opacity: 1;
    }
    .wrapper_img .Personal-Photo:hover+::after{
        /* transform: scale(2); */
        width: 110%;

    }
    
    .Personal-Photo{
        width:100%;
        height: auto;
        object-fit: cover;
        margin-top: 1em;
        position: relative;
        z-index: 2;
        vertical-align: bottom;
    }

    /* ------------------------------skills--------------------------------------- */
    
    #Skills{
        background-color: #e4c99b;
        display: grid;
    
    }
    #skills-header{
        padding-top: 1.6em;
        background: linear-gradient( to right, #DAA466, rgb(218 164 102 / 80%)); ;
        color: #497783;
        text-shadow: black 0px 0px 1px, #497783 5px 5px 13px;;
        font-size: 30px;
        text-align: center;
        height: 5em;
        position:relative;
        margin-bottom: 1.6em;
    }

    #skills-header::before{
        content:" ";
        border: #DAA466 70px solid;
        background: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent ;
        position: absolute;
        top: 90%;
        left: 44.5%;
        width: 0px;
        height: 0px;
        
    }
      
    .skills-container{

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;  
        gap: 1.7rem;
    }

    .skill-card{
        background-color: #497783;
        color: white;
        width: 18.7rem;
        height: 25rem;
        border: 1px black solid;
        border-radius: 8px;
        margin: 1.5rem 1rem;
        text-align: center;
        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 14px 7px #00000063;
            cursor : pointer;
            transition: all 0.3s ease ;
            
        }
       
        /* padding: 5px; */
    }
    .wrapper-icon{
        border-radius: 8px 8px 0px 0px;
        
        background-color: white;
        width: 100%;
        height: 75%;

    }
    
    .skill-icon{
        width: 100%;
        height: 100%;
        padding: 5%
    }
    .skill-card >h3{
       
        font-size: 40px;
        margin-bottom: 3px;

    }
    .skill-card  p {
       margin-bottom: 8px;
        font-size: 30px;
    }
    .popOut{
        display: none; 
        
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: baseline;
        width: 55rem;
        height: 40rem;
        opacity: 1;
        position: fixed;
        top: 5%;
        background: linear-gradient(75deg, #497783 63%, rgb(154 186 194));
        border: 1px black solid;
        border-radius: 1rem;
        z-index: 10;
    }
    .popOut > button{
        align-self: start;
        margin: 0.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        background-color: green;
        color: white;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            
            box-shadow: 0px 0px 14px 7px #00000063;
            cursor : pointer;
            
        }
    }
    .popOut > h2{
        width: 90%;
        text-align: center;
        margin: 0.5rem;
        font-size: 3rem;
        background: linear-gradient(40deg, orange, #f7d7d7);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .popOut > p{
        width: 100%;
        line-height: 2rem;
        text-align: center;
        margin: 0.5rem;
        font-size: 1.5rem;
        color: white;

    }
        
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0 0 0 /50%); /* Semi-transparent black */
        z-index: 9; /* Ensure it covers everything */
    }
    
/* ------------------------------projects--------------------------------------- */
    #project-header{
        padding-top: 1.6em;
        background-color: #e4c99b;
        color: #DAA466;
        text-shadow: black 0px 0px 2px,#DAA466 5px 5px 10px;
        font-size: 30px;
        text-align: center;
        height: 5em;
        position:relative;
        margin-bottom: 1.6em;
    }

    #project-header::before{
        content:" ";
        border: #e4c99b 70px solid;
        background: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent ;
        position: absolute;
        top: 90%;
        left: 44.5%;
        width: 0px;
        height: 0px;
        
    }
    #Projects{
        background-color: #fbeddb;
        display: grid;
    
    }
    .projectContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 80%;
        margin-block: 2.2rem;
        margin-left: 10%;
        padding: 1rem;
        background-color: white;
        border-radius: 12px;
    }
    .projectContainer:hover{
        background-color: green;
        box-shadow: 0px 0px 12px 3px green;
        color: white;
        transition: 0.2s 0.05s cubic-bezier(0.43, 0.91, 1, 1);
    }
    .projectContainer::before{
        
    content: " ";
    border: green 8px solid;
    border-top: 0px;
    border-bottom: 0px;
    background: transparent;
    color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 100%;
    }
    .projectImg{
        width: 17rem;
        height: fit-content;

    }
    .projectImg>img{
        width:100% ;
        height: fit-content;
    }
    .projectInfo{
        width: 73%;
        font-size: 22px;
        text-shadow: black 0px 0px 0.9px;
    }
    .projectInfo>h2{
        font-size: 2.5rem;
        text-shadow: black 0px 0px 3px;
        margin-block: 1rem;
        font-weight: 600;
        font-size: 2.5rem;
        
    }
    .ProjectSkills{
    
            width: fit-content;
            height: 3rem;
            display: flex;
            justify-content: center;
            flex-direction: row;
        
    }
    .ProjectSkills>svg{
        width: 100%;
        height: 100%;
    }


    footer{
        background-image: linear-gradient(to right, #497783, rgb(73 119 131 / 80%));
    }

    #footerInfo{
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .description {
        color: #e4c99b;
        width: 65%;
        margin-left: 1rem;
        font-size: 2.7rem;
        line-height: 3rem;
        text-decoration: none;
       
    }
    .description a{
        color: #e4c99b;
        font-size: larger;
        font-weight: 600;
        margin-left: 25%;
        vertical-align: middle;
        text-decoration: none;
        &:hover{
            color: #DAA466;
        }
    }



    .personalImage{
        overflow: hidden;
        border-radius: 50%;
        border: 0.5rem green solid;
        width: 16rem;
        height: fit-content;
        background-color: black;

    }
    
    .personalImage>img{
        
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    #Conntact{
        padding-top: 1.6rem;
        text-shadow: black 0px 0px 2px;
        font-size: 2rem;
        text-align: center;
        height: 6rem;
    }
    .conntactIcons{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    .conntactIcons svg{
        width: 3.6rem;
        height: fit-content;
            &:hover{
                border: 0px transparent solid;
                border-radius: 40%;
                box-shadow: inset 0px 0px 25px 5px #00000063, 0px 0px 25px 8px #00000063;;
        }
        /* &:hover{
            cursor: pointer;
        } */

    }


    
    @media screen and (min-width: 320px) and (max-width: 925px) {
        #skills-header::before ,
        #project-header::before{
            left:41%;
        }
        #About_me {
            justify-content: center;
        }   
        .info  {
            width:100% ;
        }
        .info::before {
           
            width: 100%;
            height: 70%;
          
        }   
        .popOut{
            width:47rem;
        }

    }

    @media screen  and (max-width: 810px) {
        header > nav > ul > a > li, header > nav > ul > a {
            width :100%;
            color: #e4c99b;
            font-size: 30px;
            text-decoration: none;
            padding: 8px;
        }
        .popOut{
            width:40rem;
        }
    }
    @media screen  and (max-width: 767px) {
        .projectContainer{
            flex-wrap: wrap;
        }   
        .projectInfo {
            width: 90%;
        }
        .popOut{
            width:36rem;
        }
    }
    @media screen and (max-width: 670px) {
        .popOut{
            width:27rem;
        }
    }
        @media screen and (min-width: 0px) and (max-width: 470px) {
    
            #skills-header::before ,
            #project-header::before{
                left:33%;
            }
            .description {
                color: #e4c99b;
                width: 65%;
                margin-left: 1rem;
                font-size: 1.7rem;
                line-height: 2rem;
                text-decoration: none;
               
            }
            .info::before {
                left: -2rem;
                width: 100%;
                height: 50%;
              
            }   
    
            .info {
                color: white;
                text-shadow: 5px 5px 14px #ffffff;
                font-size: 1.7rem;
                line-height: 5rem;
                margin-left: 5%;
                width: 100%;
                align-self: self-start;
            }
            .popOut {
                width: 17rem;
            }
            .popOut > h2{
                width: 60%;
                font-size: 2rem;
            }
            .popOut>p{
               font-size:  0.9rem;
            }
        }